@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
@import "_nullstyle";

//------------------<<BODY>>------------------
body {
	font-family: "Lato", sans-serif;
}
//------------------<<WRAPPER>>------------------
.wraper {
	overflow: hidden;
	min-height: 100%;
}
//------------------<<CONTAINER>>------------------
.container {
	max-width: 1130px;
	padding: 0 15px;
	margin: 0 auto;
}
//------------------<<IBG>>------------------
.ibg {
	position: relative;
	& img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
//------------------<<ОСНОВНОЙ БЛОК>>------------------
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}
//------------------<<HEADER>>------------------
.header {
	position: absolute;
	width: 100%;
	z-index: 50;
	left: 0;
	top: 35px;
	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 85px;
	}
	&__menu {
	}
	&__logo {
		position: absolute;
		top: 0;
		left: 50%;
		margin: 0px 0px 0px -47px;
	}
}
.menu {
	&__body {
	}
	&__list {
		display: flex;
		@media (max-width: 740px) {
			display: none;
		}
		li {
			position: relative;
			padding: 0px 37.5px;
			&:nth-child(2) {
				padding: 0px 110px 0px 37.5px;
			}
			&:nth-child(3) {
				padding: 0px 37.5px 0px 110px;
			}
			&::after {
				content: "";
				width: 2px;
				height: 2px;
				border-radius: 50%;
				position: absolute;
				right: -1px;
				bottom: 1px;
				background-color: #4d4959;
			}
			&:last-child,
			&:nth-child(2) {
				&::after {
					display: none;
				}
			}
		}
	}
	&__link {
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #4d4959;
	}
}
//------------------<<MAIN-SCREEN>>------------------
.main-screen {
	flex: 1 0 100%;
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
//------------------<<GENERATION>>------------------
.generation {
	background-color: #f7f7f7;
	padding: 120px 0px;
	@media (max-width: 900px) {
		padding: 70px 0px;
	}
	@media (max-width: 600px) {
		padding: 30px 0px;
	}
	&__block {
	}
}
//------------------<<BLOCK>>------------------
.block {
	text-align: center;
	&__icon {
		margin: 0px 0px 28px;
	}
	&__title {
		font-size: 18px;
		line-height: 30px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #353738;
		margin: 0px 0px 21px 0px;
	}
	&__text {
		font-size: 18px;
		line-height: 34px;
		font-weight: 400;
		color: #848789;
		&--just {
			text-align: justify;
			font-size: 16px;
			line-height: 30px;
			color: #848789;
			&::after {
				content: "";
				display: block;
				left: 50%;
				width: 50px;
				height: 1px;
				background-color: rgba(53, 55, 56, 0.2);
				margin: 35px auto 0px;
				@media (max-width: 1500px) {
					margin: 15px auto 0px;
				}
			}
		}
	}
}
//------------------<<ITEM>>------------------
.item {
	display: block;
	position: relative;
	height: 100%;
	@media (max-width: 1100px) {
		height: auto;
		padding: 0px 0px 70% 0px;
	}
	&__logo {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: rgba(100, 194, 158, 0.8);
		align-items: center;
		opacity: 0;
		visibility: hidden;
		transition-duration: 0.1s;
		span {
			margin: 10px 0px 0px 0px;
			font-size: 14px;
			line-height: 1.2;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			color: #ffffff;
		}
	}
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&:hover {
		.item__logo {
			opacity: 1;
			visibility: visible;
			transition-duration: 0.3s;
		}
	}
}
//------------------<<CONTENT>>------------------
.content {
}
//------------------<<BRANDS>>------------------
.brands {
	&__row {
		display: flex;
		@media (max-width: 1100px) {
			flex-direction: column;
		}
	}
	&__column {
		flex: 1 1 33.333%;
		@media (max-width: 1100px) {
			flex: none;
		}
	}
	&__column--big {
		flex: 1 1 66.667%;
		@media (max-width: 1100px) {
			flex: none;
		}
	}
	&__item {
	}
	&__content {
		padding: 70px 67px 55px;
		position: relative;
		@media (max-width: 1500px) {
			padding: 40px 35px 30px;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: -10px;
			left: 50%;
			margin: 0px 0px 0px -10px;
			width: 0;
			height: 0;
			z-index: 20;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid #fff;
		}
	}
	&__image {
		padding: 0px 0px 36.02% 0px;
	}
}
//------------------<<SLIDER>>------------------
.slider {
	background: #f7f7f7;
	text-align: center;
	&__body {
		padding: 124px 0px 68px 0px;
		@media (max-width: 1500px) {
			padding: 94px 0px 48px 0px;
		}
		@media (max-width: 1100px) {
			padding: 74px 0px 34px 0px;
		}
		@media (max-width: 600px) {
			padding: 44px 0px 20px 0px;
		}
	}
	&__item {
		max-width: 1038px;
		margin: 0 auto;
	}
	&__icon {
		margin: 0px 0px 35px 0px;
	}
	&__title {
		font-size: 18px;
		line-height: 22px;
		font-weight: 700;
		letter-spacing: 0.1em;
		color: #353738;
		margin: 0px 0px 20px 0px;
		span {
			font-weight: 300;
			color: #848789;
			letter-spacing: 1.8px;
		}
	}
	&__text {
		font-size: 24px;
		line-height: 34px;
		font-style: italic;
		color: #848789;
		margin: 0px 0px 99px 0px;
		@media (max-width: 1500px) {
			margin: 0px 0px 66px 0px;
		}
		@media (max-width: 1100px) {
			margin: 0px 0px 44px 0px;
		}
		@media (max-width: 600px) {
			margin: 0px 0px 22px 0px;
		}
	}
	&__list {
		display: flex;
		justify-content: center;
		// gap: 9px;
	}
	&__item-li {
		margin: 0px 5px;
		border-radius: 50%;
		width: 11px;
		height: 11px;
		background-color: rgba(40, 47, 53, 0);
		border: 1px solid #c8c8c8;
		&--active {
			background-color: #a9afb3;
		}
	}
}
//------------------<<SHOP>>------------------
.shop {
	&__body {
		display: flex;
		@media (max-width: 1100px) {
			flex-wrap: wrap;
		}
	}
	&__column {
		flex: 0 1 16.666%;
		&--big {
			flex: 0 1 33.333%;
		}
		@media (max-width: 1100px) {
			flex: 0 1 50%;
		}
		&:first-child,
		&:last-child {
			@media (max-width: 1100px) {
				flex: 0 1 100%;
			}
		}
	}
	&__block {
	}
	&__footer {
		background-color: #282f35;
		padding: 75px 0px 75px 0px;
		text-align: center;
		@media (max-width: 1100px) {
			padding: 50px 0px;
		}
	}
	&__btn {
		display: inline-block;
		line-height: 48px;
		height: 50px;
		border: 1px solid rgba(255, 255, 255, 0.49);
		padding: 0 60px;
		color: #ffffff;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		@media (max-width: 1100px) {
			padding: 0 30px;
		}
	}
}
//------------------<<SHOP-BLOCK>>------------------
.block-shop {
	height: 100%;
	&__row {
		display: flex;
	}
	&__column {
		flex: 0 1 50%;
	}
	&__item {
		padding: 0px 0px 50% 0px;
		height: auto;
		&--little {
			padding: 0px 0px 100% 0px;
		}
		&--big {
			padding: 0px 0px 200% 0px;
		}
	}
}
//------------------<<FORM>>------------------
.form {
	&__body {
		max-width: 534px;
		padding: 110px 0;
		text-align: center;
		margin: 0 auto;
		@media (max-width: 750px) {
			padding: 50px 0;
		}
	}
	&__logo {
		margin: 0px 0px 35px 0px;
	}
	&__title {
		font-size: 24px;
		line-height: 34px;
		font-style: italic;
		color: #848789;
		margin: 0px 0px 30px 0px;
	}
	&__subscribe-form {
		display: flex;
		// gap: 8px;
		@media (max-width: 500px) {
			flex-direction: column;
		}
	}
	&__subscribe-input {
		flex: 1 1 auto;
		margin: 0px 8px 0px 0px;
		&::placeholder {
			color: #929292;
		}
		@media (max-width: 500px) {
			margin: 0px 0px 8px 0px;
		}
		& input {
			color: #929292;
			width: 100%;
			height: 69px;
			border: 1px solid #d3d7d9;
			font-size: 20px;
			line-height: 24px;
			font-style: italic;
			padding: 0 28px;
			&:focus {
				color: #4d4959;
				// font-style: normal;
			}
		}
	}
	&__subscribe-button {
		flex: 0 0 126px;
		@media (max-width: 500px) {
			flex: 0 0 69px;
		}
	}
	&__subscribe-btn {
		width: 126px;
		height: 69px;
		background-color: #64c29e;
		font-size: 24px;
		line-height: 69px;
		font-weight: 300;
		color: #ffffff;
		@media (max-width: 500px) {
			width: 100%;
		}
	}
}
//------------------<<FOOTER>>------------------
.footer {
	background-color: #f7f7f7;
	&__row {
		display: flex;
		padding: 100px 0;
		align-items: center;
		@media (max-width: 1100px) {
			padding: 50px 0;
		}
		@media (max-width: 600px) {
			flex-direction: column;
			text-align: center;
			padding: 30px 0;
		}
	}
	&__column {
		flex: 0 1 33.333%;
		@media (max-width: 600px) {
			flex: none;
		}
	}
	&__address {
		color: #848789;
		font-size: 13.9px;
		font-weight: 400;
		font-style: italic;
		line-height: 17px;
		p {
			&:first-child {
				font-size: 16px;
				font-weight: 700;
				font-style: normal;
			}
		}
	}
	&__social {
		@media (max-width: 600px) {
			margin: 18px 0 15px 0;
		}
	}
	&__dev {
	}
}
.social {
	display: flex;
	justify-content: center;
	// gap: 15px;
	&__link {
		margin: 0px 5px;
	}
}
.dev {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	// gap: 9px;
	&__text {
		margin: 0px 9px 0px 0px;
	}
	&__icon {
	}
}
